.gradle
build/
!**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
tms-frontend.log
tms-backend.log
tms-backend/build/
tms-frontend/build/


### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
alarm.log

